{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar: 30% width -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
            <div class="position-sticky pt-3" style="max-height: calc(100vh - 4rem); overflow-y: auto;">
                <ul class="nav flex-column">
                    <li class="nav-item border-bottom"><a class="nav-link" href="#intro">Intro</a></li>
                    <li class="nav-item border-bottom"><a class="nav-link" href="#authentication">Authentication</a>
                    </li>
                    <li class="nav-item border-bottom">
                        <a class="nav-link border-bottom" href="#endpoints">Endpoints</a>
                        <ul class="nav flex-column ms-3">
                            <li class="border-bottom"><a class="nav-link" href="#process">POST /process</a></li>
                            <li class="border-bottom"><a class="nav-link" href="#status">GET /status/{task_id}</a></li>
                            <li class="border-bottom"><a class="nav-link" href="#download">GET /download/{task_id}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item border-bottom"><a class="nav-link" href="#errors">Errors</a></li>
                    <li class="nav-item border-bottom"><a class="nav-link" href="#rate-limits">Rate Limits</a></li>
                </ul>
            </div>
        </nav>

        <!-- Main Content: 70% width -->
        <main class="col-md-8 col-lg-8 px-md-4 pb-4">
            {% block docs_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}